.project-item .project-summary .summary-text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:    -moz-flex;
    display:         flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
       -moz-align-items: center;
            align-items: center;
}

@media only screen and (min-width: 800px)
{
    .project-box
    {
        -moz-box-sizing: border-box;
             box-sizing: border-box; 
        max-width: 1200px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;

          -o-box-sizing: border-box;
    }
}

.caption
{
    position: relative;
    z-index: 5;

    margin-top: -.15rem;
    padding: .25rem 0 .15rem;

    text-align: center;

    background-color: #e8e8f2;
}
.caption h1
{
    font-size: .27rem;
}
.caption small
{
    font-size: .16rem;

    color: #909090;
}

.project-box
{
    padding: .6rem 0 .8rem;
}
.project-box .project-group
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:    -moz-flex;
    display:         flex;

    -webkit-box-lines: multiple;
        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}
.project-level
{
    font-size: .25rem;
    font-weight: 600;

    margin: 0 0 15px 0; 

    text-align: center;
}
.project-group .project-asp-translate .project-summary
{
    background-image: url('/images/project/asp-translate.png');
}
.project-group .project-asp-translate .project-avator
{
    background-image: url('/images/project/asp-translate-avator.png');
}
.project-group .project-aspect-core .project-summary
{
    background-image: url('/images/project/aspect-core.png');
}
.project-group .project-aspect-core .project-avator
{
    background-image: url('/images/project/aspect-core-avator.png');
}
.project-group .project-asp-cap .project-summary
{
    background-image: url('/images/project/asp-cap.png');
}
.project-group .project-asp-cap .project-avator
{
    background-image: url('/images/project/asp-cap-avator.png');
}
.project-group .project-asp-util .project-summary
{
    background-image: url('/images/project/asp-util.png');
}
.project-group .project-asp-util .project-avator
{
    background-image: url('/images/project/asp-util-avator.png');
}
.project-group .project-asp-surging .project-summary
{
    background-image: url('/images/project/asp-surging.png');
}
.project-group .project-asp-surging .project-avator
{
    background-image: url('/images/project/asp-surging-avator.png');
}
.project-group .project-dotnetspider .project-summary
{
    background-image: url('/images/project/dotnetspider.png');
}
.project-group .project-dotnetspider .project-avator
{
    background-image: url('/images/project/dotnetspider-avator.png');
}
.project-group .project-wtm .project-summary
{
    background-image: url('/images/project/wtm.png');
}
.project-group .project-wtm .project-avator
{
    background-image: url('/images/project/wtm-avator.png');
}
.project-group .project-canal .project-summary
{
    background-image: url('/images/project/canal.png');
}
.project-group .project-canal .project-avator
{
    background-image: url('/images/project/canal-avator.png');
}
.project-group .project-smartcode .project-summary
{
    background-image: url('/images/project/smartcode.png');
}
.project-group .project-smartcode .project-avator
{
    background-image: url('/images/project/smartcode-avator.png');
}
.project-group .project-smartsql .project-summary
{
    background-image: url('/images/project/smartsql.png');
}
.project-group .project-smartsql .project-avator
{
    background-image: url('/images/project/smartsql-avator.png');
}
.project-group .project-asp-zkweb .project-summary
{
    background-image: url('/images/project/asp-zkweb.png');
}
.project-group .project-asp-zkweb .project-avator
{
    background-image: url('/images/project/asp-zkweb-avator.png');
}
.project-group .project-asp-natasha .project-summary
{
    background-image: url('/images/project/asp-natasha.png');
}
.project-group .project-asp-natasha .project-avator
{
    background-image: url('/images/project/asp-natasha-avator.png');
}
.project-group .project-npoi .project-summary
{
    background-image: url('/images/project/npoi.png');
}
.project-group .project-npoi .project-avator
{
    background-image: url('/images/project/npoi-avator.png');
}
.project-group .project-alipay-sdk .project-summary
{
    background-image: url('/images/project/alipay-sdk.png');
}
.project-group .project-alipay-sdk .project-avator
{
    background-image: url('/images/project/alipay-sdk-avator.png');
}
.project-group .project-webapiclient .project-summary
{
    background-image: url('/images/project/webapiclient.png');
}
.project-group .project-webapiclient .project-avator
{
    background-image: url('/images/project/webapiclient-avator.png');
}
.project-group .project-easycaching .project-summary
{
    background-image: url('/images/project/easycaching.png');
}
.project-group .project-easycaching .project-avator
{
    background-image: url('/images/project/easycaching-avator.png');
}
.project-group .project-collecton .project-summary
{
    background-image: url('/images/project/collecton.png');
}
.project-group .project-collecton .project-avator
{
    background-image: url('/images/project/collecton-avator.png');
}
.project-group .project-item
{
    width: 100%;
    padding-bottom: .4rem;

    border-radius: 50px;
}
@media only screen and (min-width: 768px)
{
    .project-group .project-item
    {
        width: 50%;
    }
}
@media only screen and (min-width: 800px)
{
    .project-group .project-item
    {
        width: 33.33333%;
    }
}
.project-item .project-summary
{
    position: relative;

    padding-top: 90%;

    background-repeat: no-repeat; 
    background-size: 100% auto;
}
.project-item .project-summary .summary-text
{
    font-size: .22rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: .2rem;

    word-wrap: break-word;
    word-break: break-all; 

    color: #fff;
}
.project-item .project-summary .skip
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.project-item .project-meta
{
    position: relative;

    padding: .15rem .15rem .25rem;

    white-space: nowrap;
}
.project-item .project-avator
{
    position: absolute;
    bottom: .25rem;

    width: .81rem;
    height: .81rem;
    margin-left: -3px;

    border: 3px solid #fff;
    border-radius: 10px;
    background-size: 100%;
}
.project-item .project-name
{
    margin-left: .96rem;
}
.project-item .project-name strong
{
    font-size: .18rem;
    font-weight: normal;

    display: block;

    color: #303030;
}
@media only screen and (min-width: 800px)
{
    .project-item .project-name strong
    {
        font-size: .22rem;
    }
}
.project-item .project-name em
{
    font-size: 12px;

    color: #909090;
}
.project-group .inner
{
    overflow: hidden;

    margin: 0 .15rem;

    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
         -o-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); 

    border-radius: 10px;
    background: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

     -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.project-group .inner:hover
{
    -webkit-transform: translate3D(0, -3px, 0);
        -ms-transform: translate3D(0, -3px, 0);
         -o-transform: translate3D(0, -3px, 0);
            transform: translate3D(0, -3px, 0); 

        box-shadow: 0 2px 22px rgba(0, 0, 0, .5);

     -o-box-shadow: 0 2px 22px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 2px 22px rgba(0, 0, 0, .5);
}
